@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
:root {
  box-sizing: border-box;
  font-size: 1em;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.375em;
}
